// # campaign
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.campaign {
  padding: $gutter * 2;
  background-color: $neutral-4;

  @media (min-width: $screen-md-min) {
    padding: $gutter * 4;
  }

  .campaign-cta {
    text-align: center;

    @media (min-width: $screen-md-min) {
      margin-top: $gutter * 4;
    }
  }

  .campaign-info {
    margin-bottom: $gutter * 4;

    @media (min-width: $screen-md-min) {
      margin-bottom: 0;
    }

    h1 {
      margin-bottom: $gutter * 2;
      font-size: $font-size--l;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font-sec;
      font-weight: 300;
    }

    p {
      font-size: $font-size--m;
    }
  }

  .campaign-terms {
    margin-bottom: $gutter * 2;

    @media (min-width: $screen-md-min) {
      margin-bottom: 0;
    }

    h1 {
      margin-bottom: $gutter * 2;
      font-size: $font-size--m;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font-sec;
      font-weight: 300;
    }

    ul {
      list-style-position: outside;
    }

    p, li {
      font-size: $font-size--s;
    }
  }
}