// # campaign-hero
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.campaign-hero__description {
  text-align: center;

  h1 {
    font-size: $font-size--xl;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $font-sec;
    font-weight: 300;
  }
  
  h2 {
    margin-bottom: $gutter * 2;
    font-size: $font-size--l;
    font-family: $font-pri;
    font-style: italic;
    font-weight: 400;
  }
}