//////////////////////////////
// belive
//////////////////////////////

//////////////////////////////
// imports
//////////////////////////////

@import "compass";
@import "bootstrap";

//////////////////////////////
// colours
//////////////////////////////

$black: #000;
$white: #fff;

//////////////////////////////
// fonts
//////////////////////////////

$font-1: Lato, sans-serif;
$font-2: Georgia, serif;

//////////////////////////////
// font sizing
//////////////////////////////

$size-largest: 80px;
$size-larger: 48px;
$size-large: 28px;
$size-medium: 18px;
$size-small: 15px;
$size-smaller: 13px;

//////////////////////////////
// margins, paddings, and borders
//////////////////////////////

$margin-larger: 70px;
$margin-large: 40px;
$margin-text: 30px;
$margin-medium: 20px;
$margin-small: 10px;

$padding-larger: 120px;
$padding-large: 30px;
$padding-medium: 20px;
$padding-small: 10px;
$padding-column: 60px;

$border-medium: 4px;
$border-form: solid $black $border-medium;

//////////////////////////////
// text archetypes
//////////////////////////////

//////////////////////////////
// globals
//////////////////////////////

body {
  font-family: $font-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-1;
}

//////////////////////////////
// partials
//////////////////////////////