// # btn
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.btn {
  display: inline-block;
  padding: $gutter * 2 $gutter * 8;
  border: none;
  /*border-radius: $gutter;*/
  color: $neutral-2;
  background-color: $neutral-3;
  text-transform: uppercase;
  font-size: $font-size--s;
  font-family: $font-sec;

  -webkit-transition: background-color .2s; /* Safari */
  transition: background-color .2s;

  &:hover {
    background-color: $neutral-4;
    text-decoration: none;
  }
}

.btn--primary {
  padding: $gutter * 2 $gutter * 4;
  font-size: $font-size--m;
  letter-spacing: 2px;
  font-weight: 300;
}

.btn--dark {
  color: $neutral-4;
  background-color: $blue-1;

  &:hover {
    color: $neutral-4;
    background-color: $neutral-1;
  }
}

.btn--light {
  color: $blue-1;
  background-color: $blue-2;

  &:hover {
    color: $blue-1;
    background-color: $neutral-3;
  }
}