// # copyright
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.copyright {
  margin-top: $gutter * 4;
  margin-bottom: $gutter * 2;
  color: $neutral-2;
  text-transform: uppercase;
  font-size: $font-size--s;
  font-family: $font-sec;
}