// # mast
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.mast {
  padding-top: $gutter * 4;
  padding-bottom: $gutter * 2;
  /*margin-bottom: $gutter * 4;*/
  border-bottom: solid 1px $neutral-3;
  text-align: center;

  h1 {
    margin-top: $gutter * 2;
    font-size: $font-size--l;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: $font-sec;
    font-weight: 300;
  }

  h2 {
    font-size: $font-size--m;
    font-family: $font-pri;
    font-style: italic;
    font-weight: 400;
  }
}

.header__logo {
  border: initial;
  display: block;
  width: 15em;
  margin: auto;
}