// # image replacement
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.img-rpl {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo__mark {
  position: relative;
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 52.89%;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}