// # variables
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////
// # typography
//////////////////////////////
$font-pri: lato, helvetica, arial, sans-serif;
$font-sec: georgia, "times new roman", times, serif;

$font-size--s: 0.85em;
$font-size--m: 1.125em;
$font-size--l: 1.35em;
$font-size--xl: 1.55em;

//////////////////////////////
// # color swatches
//////////////////////////////
$base: #121927;
$neutral-1: #333;
$neutral-2: #777;
$neutral-3: #e1e1e1;
$neutral-4: #f8f8f8;
$blue-1: #163876;
$blue-2: #b4c1e4;
$white: #fff;